#app,
html,
body {
    background: $bg-color;
    height: 100%;
}

.CurrentPrices {
  .ui.card, .ui.cards>.card {
    width: 100%;
    margin-bottom: 40px;
     &:last-child {
       margin-bottom: 40px;
     }
  }
}
