#app,
html,
body {
    background: $bg-color;
    height: 100%;
}

.CurrentPrices {
  .ui.card, .ui.cards>.card {
    width: 100%;
    margin-bottom: 40px;
     &:last-child {
       margin-bottom: 40px;
     }
  }
}


.Ticker__list-item-price {
  margin-right: 20px;
}

.Ticker {
  .list .item {
    min-height: 40px;
    line-height: 40px;
  }
}
